.App {
  text-align: center;
  background: brown;
  color: white;
}
h1, h4{
  font-style: italic;
  color: blue;
}
.eachBeer{
  border: 2px solid white;
  padding: 5px;
}

.eachBeerPic {
  animation: App-logo-spin infinite 5s;
  height: 40vmin;
  pointer-events: none;
}
span{
  display: block;
}
button{
  margin-bottom: 0px;
  padding: 10px;
  height: 40px;
  background: green;
  border-radius: 50px;
  cursor: pointer;

}
.count{
  margin-bottom: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
